$main_bgc: #77c1bb;
$text_logo: #3f3f57;
$main_dark_text: #372c48;
$nav_unActive_link: #4a586a;
$placeholder_after_line: #9c99a5;
$total_white: #fff;
$total_dark: #000;
$pagination_buttons_text: #556270;
$details_specifications: #4f6462;
$details_specifications_bgc:#addad6;
$details_description: #938d9c;

$primary-font: "Roboto", Helvetica, Arial, sans-serif;
$secondary-font: "Noto Sans JP", Helvetica, Arial, sans-serif;