@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');  

#header {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}
.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #77c1bb;
}
.logo, .text_logo, .home, .my_library{
    cursor: pointer;
}
.home, .my_library {
    padding: 0px 20px;
    position: relative;
}    
.left_side {
    display: flex;
    margin-left: 4%;
}
.logo {
    width: 22px;
    height: 19px;
    background-image: url('../images/logo.png');
}
.text_logo{
    padding-left: 10px;
}
.right_side {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    margin-right: 4%;
}
.my_library {
    // padding-left: 20px;
}
.under_line::after {
    display: table;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    position: absolute;
    content: '';
    background-color: #000;
    margin-top: 5px;
}

@media screen and (max-width:768px) {
    .home, .my_library {
        padding: 0px 10px;
        font-size: 13px;
    }
}