.cards__container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
  padding: 0;
}
.card__img {
  width: 300px;
  height: 156px;
  border-radius: 14px;
}
.card__container:hover {
  transform: scale(1.01);
}
.card__container {
  width: 300px;
  height: 156px;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 15px;
  opacity: 0.95;
}
.card__title {
  bottom: 8px;
  left: 14px;
  position: absolute;
  color: white;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .cards__container {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
  .card__container {
    width: 340px;
    height: 177px;
    border-radius: 17px;
    margin-bottom: 17px;
  }
  .card__img {
    width: 340px;
    height: 177px;
  }
}
@media screen and (min-width: 1024px) {
  .card__container {
    width: 480px;
    height: 250px;
    border-radius: 19px;
    margin-bottom: 19px;
  }
  .card__img {
    width: 480px;
    height: 250px;
  }
}
